/* Add application styles & imports to this file! */
/* Add application styles & imports to this file! */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


/* .mat-drawer {
    background-color: #fff;
    color: rgba(0,0,0,.87);
}

.mat-drawer-transition .mat-drawer-backdrop {
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(.25,.8,.25,1);
    transition-property: background-color,visibility;
}

.mat-drawer-backdrop.mat-drawer-shown {
    visibility: visible;
}

.mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(0,0,0,.6);
}

.mat-drawer-backdrop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: block;
    z-index: 3;
    visibility: hidden;
}

.mat-toolbar.mat-primary {
    background: #673ab7;
    color: #fff;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
} */

